html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Readex Pro', sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#main {
  padding: 0.5em;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

lucide-icon {
  font-size: 1.5em;
}

.footer {
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
  align-items: center;
}

#search,
#new-message {
  flex: 1;
  font-size: 1rem;
  padding: 0.5em;
}

.list {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

#message-list {
  /* justify-content: end; */
  justify-items: end;
  display: flex;
  flex-direction: column;
}

#message-participants {
  background-color: lightgray;
  padding: 0.25em;
  text-align: center;
}

.panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: white;
  border: none;
  transform: translateX(100%);
  transition: all 0.5s;
}

.panel.open {
  transform: none;
  transition: all 0.5s;
}

.no-blur {
  -moz-user-focus: ignore;
}
