/* Style specific to <action-widget> */

action-widget web-view {
  width: 100%;
  height: 100%;
  border: 5px solid rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  border-bottom: 15px solid rgba(255, 255, 255, 0.25);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: block;
}

action-widget web-view.animate {
  animation: frame-anim 1s linear;
}

@keyframes frame-anim {
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
