/* Styling for <action-box> */

:host {
  width: var(--action-box-width);
  height: var(--action-box-height);
  position: absolute;
  padding: 0.5em;
  transition: transform 0.7s, opacity 0.7s;
}

:host(.widget-2x1) {
  width: calc(2 * var(--action-box-width));
}

:host(.widget-1x2) {
  height: calc(2 * var(--action-box-height));
}

:host(.widget-2x2) {
  width: calc(2 * var(--action-box-width));
  height: calc(2 * var(--action-box-height));
}

:host(.removing) {
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.7s;
}

:host(.adding) {
  opacity: 0;
  transform: scale(1.5);
}

:host:not(.no-transition) {
  transition: top 0.5s, left 0.5s;
}

:host .menu {
  background: var(--default-color);
  color: var(--light-color);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 40%;
  box-shadow: 2px 2px 3px black;
  transform: translateX(-50%);
  cursor: pointer;
}

:host .closing {
  opacity: 0;
  transform: scale(0.75);
  transition: all 0.3s cubic-bezier(0.2, 0.9, 0.1, 1.0);
}

:host .hidden {
  display: none;
}

:host(.ghost) div.ghost {
  width: 100%;
  height: 100%;
  background-color: #ffffff3f;
  border-radius: 5px;
  border: 1px dashed white;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.3s cubic-bezier(0.2, 0.9, 0.1, 1.0);
}

:host(.ghost) div.ghost.active {
  opacity: 1;
  transform: scale(1.0);
  transition: all 0.3s cubic-bezier(0.2, 0.9, 0.1, 1.25);
}
