html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Readex Pro', sans-serif;
  user-select: none;
  background-color: var(--sl-panel-background-color);
  color: var(--sl-color-neutral-700);
}

* {
  box-sizing: border-box;
}
