/* Styling for <network-item> */

:host div.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* backdrop-filter doesn't give the same effect
     as in the system app, so using a background color instead :(
  backdrop-filter: blur(5px);
  */
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

:host div.container {
  display: flex;
  flex-direction: column;
  background-color: var(--dialog-background);
  color: var(--dialog-text);
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
}

/* Desktop mode */
@media (min-width: 800px) {
  :host div.container {
    --dialog-width: calc(min(50%, 400px));
    margin-left: calc(50vw - var(--dialog-width) / 2);
    max-width: var(--dialog-width);
  }
}

:host .password-input {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

:host input {
  flex: 1;
  margin-right: 1em;
  color: var(--dialog-text);
  outline: none;
}

:host lucide-icon {
  -moz-user-focus: ignore;
}

:host .buttons {
  display: flex;
  justify-content: center;
  column-gap: 1em;
}
