html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.flex-fill {
  flex: 1;
}

:root {
  --backdrop-z-index: 100;
  --notifications-popup-z-index: 150;
  --lockscreen-z-index: 200;
}

body {
  font-family: "Open Sans", arial, "sans serif";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: hidden;
  -moz-user-select: none;
}

body.screen-off #screen {
  opacity: 0;
  pointer-events: none;
  background: black;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo.byebye {
  opacity: 0;
  transition: opacity 1s;
}

#logo.starting div.action:not(.starting) {
  display: none;
}

#logo.shutdown div.action:not(.shutdown) {
  display: none;
}

#logo.reboot div.action:not(.reboot) {
  display: none;
}

#logo.hidden {
  display: none;
}

#screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  color: var(--default-text-color);
}

#screen.no-top-status-bar {
  grid-template-rows: 0px 1fr min-content;
}

/* TODO: Make that device dependent instead of Teracube specific */
#status-top {
  min-height: 26px;
}

#backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: var(--backdrop-z-index);
}

#backdrop.adjust-brightness {
  background-color: transparent;
  backdrop-filter: none;
}

#backdrop.hidden,
#lockscreen.hidden {
  display: none;
}

.sl-toast-stack {
  z-index: 200;
}

/*
SiteInfo <sl-drawer> styling.
This needs to be in scope out of the the <site-info> component,
so can't be part of site_info.css
*/
#site-info {
  --size: fit-content;
}

#site-info::part(panel),
#site-info::part(body) {
  background-color: transparent;
  padding: 0;
}

/* Desktop mode */
@media (min-width: 800px) {
  #site-info::part(panel) {
    max-width: calc(min(50%, 600px));
  }
}
