html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.flex-fill {
  flex: 1;
}

:root {
  --backdrop-z-index: 100;
  --notifications-popup-z-index: 150;
  --lockscreen-z-index: 200;
}

body {
  font-family: "Open Sans", arial, "sans serif";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: hidden;
  -moz-user-select: none;
}

body.screen-off {
  pointer-events: none;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo.byebye {
  opacity: 0;
  transition: opacity 1s;
}

#logo.starting div.action:not(.starting) {
  display: none;
}

#logo.shutdown div.action:not(.shutdown) {
  display: none;
}

#logo.reboot div.action:not(.reboot) {
  display: none;
}

#logo.hidden {
  display: none;
}

#screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  color: var(--default-text-color);
}

#screen.no-top-status-bar {
  grid-template-rows: 0px 1fr min-content;
}

/* TODO: Make that device dependent instead of Teracube specific */
#status-top {
  min-height: 26px;
}

#status-top.ftu {
  min-height: 0;
}

#lockscreen {
  z-index: 1000;
}

#lockscreen.unlocked {
  display: none;
}

.sl-toast-stack {
  z-index: 200;
}

/*
Global <sl-drawer> styling.
This needs to be in scope out of the the inner custom element,
so can't be part of component specific css file.
*/
#site-info,
#reboot-menu,
#quick-settings {
  --size: fit-content;
}

#site-info::part(panel),
#site-info::part(body),
#reboot-menu::part(panel),
#reboot-menu::part(body),
#quick-settings::part(panel),
#quick-settings::part(body) {
  background-color: transparent;
  padding: 0;
}

#reboot-menu::part(panel) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#quick-settings::part(panel) {
  display: flex;
  flex-direction: row-reverse;
}

#quick-settings.adjust-brightness::part(overlay) {
  background: none;
}

#reboot-menu::part(body) {
  height: fit-content;
  flex-grow: 0;
}

/* Desktop mode */
@media (min-width: 800px) {
  #site-info::part(panel),
  #quick-settings::part(body) {
    max-width: calc(min(50%, 600px));
  }
}
