html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.flex-fill {
  flex: 1;
}

:root {
  --backdrop-z-index: 100;
  --notifications-popup-z-index: 150;
  --lockscreen-z-index: 200;
}

body {
  font-family: "Open Sans", "sans serif";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: hidden;
  -moz-user-select: none;
}

body.screen-off #screen {
  opacity: 0;
  pointer-events: none;
  background: black;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, beige 0%, cyan 100%);
  color: rgb(65, 64, 64);
  font-weight: 900;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo.byebye {
  opacity: 0;
  transition: opacity 1s;
}

#logo div.title {
  font-size: 48px;
}

#logo div.powered-by {
  font-size: 14px;
}

#logo img {
  width: 128px;
  height: 128px;
  animation: logo-anim 6s linear infinite;
}

#logo.starting div.action:not(.starting) {
  display: none;
}

#logo.shutdown div.action:not(.shutdown) {
  display: none;
}

#logo.reboot div.action:not(.reboot) {
  display: none;
}

#logo.hidden {
  display: none;
}

@keyframes logo-anim {
  25% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  color: var(--default-text-color);
}

#screen.no-top-status-bar {
  grid-template-rows: 0px 1fr min-content;
}

/* TODO: Make that device dependent instead of Teracube specific */
#status-top {
  min-height: 26px;
}

#backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: var(--backdrop-z-index);
}

#backdrop.hidden,
#lockscreen.hidden {
  display: none;
}
