html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.flex-fill {
  flex: 1;
}

:root {
  /* Use the ui.status-top-height pref to change the default value */
  --status-top-height: 26px;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: hidden;
  -moz-user-select: none;
}

body.screen-off {
  pointer-events: none;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3000;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo.byebye {
  opacity: 0;
  transition: opacity 1s;
}

#logo.starting div.action:not(.starting) {
  display: none;
}

#logo.shutdown div.action:not(.shutdown) {
  display: none;
}

#logo.reboot div.action:not(.reboot) {
  display: none;
}

#logo.hidden {
  display: none;
}

#screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    min-content calc(100vh - var(--statusbar-height) - var(--status-top-height))
    min-content;
}

#screen:not(.show-top-status-bar) {
  grid-template-rows: 0px calc(100vh - var(--statusbar-height)) min-content;
}

#screen.fullscreen {
  grid-template-rows: min-content calc(100vh) min-content;
}

#status-top {
  min-height: var(--status-top-height);
}

#status-top.fullscreen {
  min-height: 0;
}

#lockscreen {
  z-index: 2000;
}

#lockscreen.unlocked {
  display: none;
}

.sl-toast-stack {
  z-index: 200;
}

/*
Global <sl-drawer> styling.
This needs to be in scope out of the the inner custom element,
so can't be part of component specific css file.
*/
#site-info,
#reboot-menu,
#quick-settings,
#activity-chooser {
  --size: fit-content;
}

#site-info::part(panel),
#site-info::part(body),
#reboot-menu::part(panel),
#reboot-menu::part(body),
#quick-settings::part(panel),
#quick-settings::part(body),
#activity-chooser::part(panel),
#activity-chooser::part(body) {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
}

#reboot-menu::part(panel) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#quick-settings::part(panel) {
  display: flex;
  flex-direction: row-reverse;
}

#quick-settings.adjust-brightness::part(overlay) {
  background: none;
}

#reboot-menu::part(body) {
  height: fit-content;
  flex-grow: 0;
}

/* Desktop mode */
@media (min-width: 800px) {
  #site-info::part(panel),
  #activity-chooser::part(panel),
  #quick-settings::part(body) {
    max-width: calc(min(50%, 600px));
  }
}

sl-drawer::part(overlay) {
  backdrop-filter: saturate(180%) blur(20px);
}

#status-top.carousel {
  backdrop-filter: saturate(180%) blur(20px);
}

#caret-selection {
  position: absolute;
  z-index: 5000;
  transition: all 0.25s;
}

#caret-selection.hidden,
#caret-selection .hidden {
  display: none;
}
