[Unit]
Description=B2G HAL daemon

[Service]
ExecStart=/opt/capyloon/b2ghald/b2ghald
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target