[Desktop Entry]
Name=Capyloon - Desktop
Comment=Long Live The Web!
Exec=/opt/capyloon/start.sh --type=desktop --size=800x600
Terminal=false
Icon=capyloon
Type=Application
Categories=Network;
