[Unit]
Description=Capyloon, a Web Based OS
Documentation=https://capyloon.org
After=systemd-user-sessions.service plymouth-quit-wait.service
After=getty@tty7.service
Conflicts=getty@tty7.service

# D-Bus is necessary for contacting logind. Logind is required.
Wants=dbus.socket
After=dbus.socket

# Prevent starting on systems without virtual consoles
ConditionPathExists=/dev/tty0

[Service]
Environment=LANG=C.UTF-8
Environment=XDG_SESSION_TYPE=wayland
Environment=CAPYLOON_LAUNCH_WAYLAND=1
ExecStart=/opt/capyloon/start.sh
TimeoutStartSec=30
User=1000
WorkingDirectory=~
Restart=always
RestartSec=5
PAMName=login

# A virtual terminal is needed.
TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

# Fail to start if not controlling the tty.
StandardInput=tty-fail
StandardOutput=journal
StandardError=journal

# Log this user with utmp, letting it show up with commands 'w' and 'who'.
UtmpIdentifier=tty7
UtmpMode=user

[Install]
Alias=display-manager.service
