[Desktop Entry]
Name=Capyloon
Comment=Reclaim Your Web!
Exec=/opt/capyloon/start.sh --type=session
Icon=capyloon
Type=Application
Categories=Network;
