[Desktop Entry]
Name=Capyloon
Comment=Long Live The Web!
Exec=/opt/capyloon/start.sh --type=session
Icon=capyloon
Type=Application
Categories=Network;
