[Desktop Entry]
Name=Capyloon - Mobile
Comment=Reclaim Your Web!
Exec=/opt/capyloon/start.sh
Terminal=false
Icon=capyloon
Type=Application
Categories=Network;
