Package: ${PKG_NAME}
Version: ${VERSION}-${RELEASE_NUMBER}
Maintainer: Fabrice Desré <fabrice@capyloon.org>
Section: misc
Priority: optional
Standards-Version: 0.1
Description: Reclaim Your Web!
Architecture: ${ARCH}
