[Unit]
Description=Iroh ipfs light node

[Service]
ExecStart=/opt/b2gos/ipfsd/ipfsd --cfg /opt/b2gos/ipfsd/config.toml
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target