/* Styling for the <contact-info> element */

:host .main {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

:host .details {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-left: 3em;
}

:host .actions {
  font-size: 1.5rem;
  display: flex;
  justify-content: right;
  gap: 1em;
}

:host *.hidden {
  display: none;
}

:host {
  border: solid var(--sl-panel-border-width) transparent;
  border-radius: var(--sl-border-radius-medium);
}

:host(:hover) {
  border: solid var(--sl-panel-border-width) var(--sl-panel-border-color);
}

:host .comm-item {
  display: flex;
  gap: 0.25em;
  align-items: center;
}
