/* Styling for the <contact-info> element */

:host .main {
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

:host .details {
  font-size: 1.25rem;
  line-height: 2rem;
  padding-left: 3em;
}

:host .actions {
  font-size: 1.5rem;
  display: flex;
  justify-content: right;
  gap: 1em;
}

:host *.hidden {
  display: none;
}

:host {
  border: solid var(--sl-panel-border-width) transparent;
  border-radius: var(--sl-border-radius-medium);
}

:host(:hover) {
  border: solid var(--sl-panel-border-width) var(--sl-panel-border-color);
}

:host .comm-item {
  display: flex;
  gap: 0.25em;
  align-items: center;
}

:host .did {
  font-size: var(--sl-font-size-small);
  font-weight: var(--sl-font-weight-light);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

:host .flex-fill {
  flex: 1;
}

:host sl-button.no-apps {
  display: none;
}
