/* <image-renderer> styling */

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

:host #list {
  padding: 0.5em;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

:host #list > div {
  display: flex;
  gap: 0.5em;
  align-items: center;
  cursor: pointer;
}

:host #list > div.selected {
  color: var(--dialog-background);
  background-color: var(--dialog-text);
}

:host #list lucide-icon {
  font-size: 2em;
}
:host #list .details {
  display: flex;
  flex-direction: column;
}

:host #list .details div {
  font-size: smaller;
  font-weight: lighter;
}

/* Icon layout mode */
:host #list.icons .details div {
  display: none;
}

:host #list.icons {
  flex-direction: row;
  flex-wrap: wrap;
}

:host #list.icons > div {
  flex-direction: column;
}

:host #list.icons .details {
  width: 5em;
}

:host #list .name {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  white-space: nowrap;
}

:host #list.icons .name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: smaller;
  font-weight: lighter;
  text-align: center;
}

:host footer {
  display: flex;
}

:host footer div {
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex: 1;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

:host .flex-fill {
  flex: 1;
}
