/* Style for the Capyloon branding */

:root {
  --logo-text-color: darkslategray;
  --logo-background-color: wheat;
  --logo-grad-start: red;
  --logo-grad-end: orange;
}

@font-face {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  src: local("sans-serif"), url("./Lobster-Regular.ttf") format("truetype");
  font-display: swap;
}

#logo {
  background: black;
  color: var(--logo-text-color);
  font-weight: 900;
}

#logo div.title,
#logo div.subtitle,
#logo .action {
  font-family: "Lobster", cursive;
  background: linear-gradient(
    to bottom right,
    var(--logo-grad-start),
    var(--logo-grad-end)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#logo div.title {
  font-size: 48px;
}

#logo div.subtitle {
  font-size: 14px;
}

/**
  mascot.png size is 880x477. Keep aspect ratio here
  since we can't use 'height: auto' when using a
  background image
  */
#logo div.image {
  width: 256px;
  height: 139px;
  background-image: url(../resources/mascot.png);
  background-size: contain;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* FTU app styling */

.ftu #logo {
  background: none;
}

.ftu #logo div.title {
  font-size: 64px;
  background: linear-gradient(
    to bottom right,
    var(--logo-grad-start),
    var(--logo-grad-end)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ftu #logo div.subtitle {
  font-size: 22px;
  background: linear-gradient(
    to bottom right,
    var(--logo-grad-start),
    var(--logo-grad-end)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body.ftu {
  background: linear-gradient(to bottom right, wheat, white);
  color: var(--logo-text-color);

  --ftu-background: linear-gradient(to bottom right, wheat, white);
  --ftu-color: var(--logo-text-color);
}

.branded-text {
  font-family: "Lobster", cursive;
  background: linear-gradient(
    to bottom right,
    var(--logo-grad-start),
    var(--logo-grad-end)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
