html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 1em;
}

body {
  opacity: 0;
}

body.ready {
  opacity: 1;
  transition: 0.25s opacity;
}

* {
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
}

sl-drawer {
  --size: 100vw;
}

sl-drawer header {
  font-size: 1.2rem;
}

.drawer-content {
  margin: 1em;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

header span {
  flex: 1;
}

.hidden {
  display: none;
}

#float-buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: absolute;
  right: 2em;
  bottom: 2em;
}

#contact-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#publish-dialog::part(body) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#publish-progress {
  --height: 6px;
}

#publish-qr {
  padding: 2em;
  background-color: white;
}

#add-contact-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#add-contact-avatar {
  margin-bottom: 1em;
  cursor: pointer;
}

#add-contact-did-list {
  padding-left: 0;
}

#add-contact-did-list li {
  list-style-type: none;
  font-size: var(--sl-font-size-small);
  font-weight: var(--sl-font-weight-light);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#peers-section:not(.open) {
  display: none;
}

#peers-section sl-menu {
  max-width: 90vw;
}

#peers-section sl-menu-item img {
  width: 2em;
}

#add-contact-autoconnect-section {
  display: flex;
}

/*
Generic style to create containers with the Shoelace style
TODO: consider moving to shared/
*/
.sl-box {
  border: solid var(--sl-panel-border-width) var(--sl-panel-border-color);
  border-radius: var(--sl-border-radius-medium);
  background: var(--sl-panel-background-color);
  padding: var(--sl-spacing-x-small) 0;
}

/* user invalid styles */
sl-input[data-user-invalid]::part(base),
sl-select[data-user-invalid]::part(control) {
  border-color: var(--sl-color-danger-600);
}

[data-user-invalid]::part(form-control-label),
[data-user-invalid]::part(form-control-help-text) {
  color: var(--sl-color-danger-700);
}

sl-input:focus-within[data-user-invalid]::part(base),
sl-select:focus-within[data-user-invalid]::part(control) {
  border-color: var(--sl-color-danger-600);
  box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-danger-300);
}

/* User valid styles */
sl-input[data-user-valid]::part(base),
sl-select[data-user-valid]::part(control) {
  border-color: var(--sl-color-success-600);
}

[data-user-valid]::part(form-control-label),
[data-user-valid]::part(form-control-help-text) {
  color: var(--sl-color-success-700);
}

sl-input:focus-within[data-user-valid]::part(base),
sl-select:focus-within[data-user-valid]::part(control) {
  border-color: var(--sl-color-success-600);
  box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-success-300);
}
