<!DOCTYPE html>
<html lang="en">
  <head>
    <title>__APP_NAME__</title>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="icon" href="icons/default.svg" />
    <link rel="manifest" href="manifest.webmanifest" />
    <link rel="stylesheet" href="style/main.css" />

    <meta name="defaultLanguage" content="en-US" />
    <meta name="availableLanguages" content="en-US" />
    <link rel="localization" href="locales/{locale}/main.ftl" />

    <script src="js/config.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <h1>__APP_NAME__</h1>
    <h2 data-l10n-id="welcome"></h2>
  </body>
</html>
