{
  "name": "__APP_NAME__",
  "description": "A longer app description",
  "start_url": "/index.html",
  "icons": [
    {
      "src": "/icons/default.svg",
      "type": "image/svg",
      "sizes": "any"
    }
  ],
  "background_color": "#ffffff",
  "b2g_features": {
    "core": true,
    "developer": {
      "name": "The Capyloon team"
    }
  },
  "version": "1.0"
}
