/* System UI theme */

/* darkish theme */
:root {
    --icon-background-active: skyblue;
    --icon-color-active: rgb(50, 50, 50);
    --icon-background-inactive: lightslategray;
    --icon-color-inactive: lightgray;

    --keyboard-height: 180px;
    --statusbar-height: 2.5em;
}
