html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  opacity: 0;
}

body.ready {
  opacity: 1;
  transition: 0.25s opacity;
}

#ui,
#start {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 100%;
}

#start {
  align-items: center;
  justify-content: center;
  gap: 1em;
}

#start p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

#start img {
  width: 2em;
  border-radius: 40%;
}

.hidden,
#ui.hidden,
#start.hidden {
  display: none;
}

#main {
  display: flex;
  flex: 1;
  gap: 0.5em;
}

header {
  padding: 0.5em;
}

#tabs {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}

#tabs::part(base) {
  flex: 1;
}

#tabs::part(body) {
  flex: 1;
  height: 100%;
}

#tabs sl-tab-panel {
  height: 100%;
}

#tabs sl-tab-panel::part(base) {
  height: 100%;
  padding: 0;
}

div.text-editor {
  flex: 1;
  height: 100%;
  font-size: 1rem;
}

#actions {
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
}

#fork-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#fork-list img {
  width: 24px;
  border-radius: 40%;
  box-shadow: 2px 2px 3px black;
}

#context-menu {
  position: absolute;
  z-index: 100; /* required to show on top of the ACE UI */
}

#files,
#main {
  overflow-y: scroll;
}
