html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#ui,
#start {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 100%;
}

#start {
  align-items: center;
  justify-content: center;
}

#start p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

#start img {
  width: 2em;
  border-radius: 40%;
}

#ui.hidden,
#start.hidden {
  display: none;
}

#main {
  display: flex;
  flex: 1;
  gap: 0.5em;
}

header {
  padding: 0.5em;
}

#tabs {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}

#tabs::part(base) {
  flex: 1;
}

#tabs::part(body) {
  flex: 1;
  height: 100%;
}

#tabs sl-tab-panel {
  height: 100%;
}

#tabs sl-tab-panel::part(base) {
  height: 100%;
  padding: 0;
}

div.text-editor {
  flex: 1;
  height: 100%;
  font-size: 1rem;
}

#actions {
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
}
