html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", arial, "sans serif";
}

body {
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  column-gap: 1em;
  align-items: center;
  padding-top: 0.25em;
}

header h3 {
  flex: 1;
}

#logo {
  width: 64px;
}

section {
  width: 100%;
}

h4 {
  border-bottom: 2px solid lightgray;
  margin-bottom: 0;
}
