html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Readex Pro', sans-serif;
  overflow: hidden;
  user-select: none;

  background-color: black;
  color: var(--dialog-text);

  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

#controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
  padding: 0.5em;
}

#controls.hide-qr-scan *.hide-qr-scan {
  display: none;
}

#controls > * {
  flex: 1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview.shutter {
  opacity: 0;
  transition: opacity 10ms ease-in;
}

#last-image {
  width: 64px;
}

#last-container {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 3px;
  display: none;
  gap: 0.5em;
  align-items: center;
}

#last-container.shown {
  display: flex;
}

#qr-overlay.hidden {
  display: none;
}

#qr-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

#qr-overlay sl-tag {
  margin-top: 2em;
}
