html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", arial, "sans serif";
  overflow: hidden;
  user-select: none;

  background-color: black;
  color: var(--dialog-text);

  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

#controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
  padding: 0.5em;
}

#controls > * {
  flex: 1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview.shutter {
  opacity: 0;
  transition: opacity 10ms ease-in;
}
