html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Open Sans", arial, "sans serif";
  color: white;
  font-weight: bold;
  background: rgba(0,0,0,0.2)
}

#container {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

.current {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
  height: 100%;
}

.current .city {
  text-transform: capitalize;
}

.current .desc {
  font-size: smaller;
  font-weight: normal;
}

.current .icon {
  width: 80%;
  margin: -10px;
}

.forecast {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid gray;
  padding: 2px;
  font-weight: normal;
  font-size: smaller;
  height: 100%;
}

.forecast .temps {
  display: flex;
  align-content: space-around;
  width: 100%;
}

.forecast .temps span {
  flex: 1;
  text-align: center;
}
