@font-face {
  font-family: "Readex Pro";
  src: url(/fonts/Readex_Pro/ReadexPro-VariableFont_wght.ttf);
}

* {
  --sl-font-sans: "Readex Pro", sans-serif;
}

html, body {
  font-family: var(--sl-font-sans);
}