html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Open Sans", "sans serif";
  user-select: none;
  display: flex;
  flex-direction: column;
}

.status {
  padding: 1em;
  display: flex;
  border-bottom: 2px solid lightgray;
  font-size: larger;
}

.status-text {
  flex: 1;
}

td {
  padding: 0.25em;
}
