html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

#share {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  align-content: center;
  padding: 1em;
  height: 100%;
}

#qr-code {
  background-color: white;
  padding: 2em;
}

#peers-section:not(.open) {
  display: none;
}
