/* <audio-volume> styling */

:host {
  position: absolute;
  top: 30%; /* TODO: device specific positioning */
  right: 1em;
  padding: 0.4em;
  border-radius: var(--sl-border-radius-medium);
  border-color: var(--sl-panel-border-color);
  border-width: var(--sl-panel-border-width);
  box-shadow: var(--sl-shadow-large);
  background-color: var(--sl-panel-background-color);
  color: var(--sl-color-neutral-700);

  transform: translateX(45%) rotate(-90deg);
  transition: transform 0.25s;
  z-index: 50000;
}

:host div {
  display: flex;
  align-items: center;
}

:host(.offscreen) {
  transform: translateX(calc(100% + 1em)) rotate(-90deg);
  transition: transform 0.25s, opacity 0.25s;
  opacity: 0.5;
}

:host sl-icon {
  font-size: 1.5em;
  transform: rotate(90deg);
}

:host sl-progress-bar {
  flex: 1;
  min-width: 25vh;
  --height: 5px;
}
