/* <context-menu> styling */

:host sl-menu-label::part(base) {
  display: flex;
  align-items: center;
  gap: 1em;
}

:host sl-dialog::part(body) {
  padding: 0;
}

:host *.hidden {
  display: none;
}
