content-window.not-homescreen {
  background-color: white;
}

content-window > .container {
  height: 100%;
  display: grid;
  position: relative;
}

content-window.keyboard-open > .container {
  height: calc(100% - var(--keyboard-height));
}

content-window.deactivated {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s linear;
}

/* We create a stack by putting all the grid elements at the same place */
content-window > .container > * {
  grid-row: 1;
  grid-column: 1;
  height: 100%;
  width: 100%;
}

content-window .loader,
content-window .content-crash,
content-window .inline-activity {
  height: 100%;
  background: var(--sl-panel-background-color);
  color: var(--sl-color-neutral-700);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

content-window .inline-activity {
  padding: 2em;
  background-color: transparent;
  backdrop-filter: blur(10px);
}

content-window .inline-activity {
  padding: 2em;
  background-color: transparent;
  backdrop-filter: blur(10px);
}

content-window .inline-activity content-window {
  width: 100%;
  height: 100%;
}

content-window .inline-activity sl-button {
  position: absolute;
  bottom: 3em;
  right: 3em;
  /* TODO: figure out why this z-index is needed */
  z-index: 1;
}

content-window .content-crash .message {
  margin-bottom: 1em;
}

content-window .select-ui {
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

content-window .loader.running sl-icon {
  animation: spin 2s linear infinite;
  font-size: 4em;
}

content-window .loader img {
  width: 4em;
  border-radius: 40%;
  box-shadow: 2px 2px 3px black;
  animation: pulse 1.5s ease infinite;
}

content-window .loader img.hidden {
  animation: none;
}

content-window .loader .title {
  font-size: 1em;
  margin-top: 0.5em;
  filter: invert(100%);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.9);
    opacity: 0.75;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

content-window .hidden,
content-window .navigation.hidden {
  display: none;
}

content-window .navigation {
  display: flex;
  flex-direction: column;
  grid-gap: 1.5em;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: calc(100% - 3em); /* TODO: figure out why 'right: 3em;' doesn't work */
  height: 100%;
  width: 3em;
}

content-window .navigation sl-icon {
  background-color: white;
  border-radius: 50%;
  font-size: 2em;
  box-shadow: 1px 1px 2px black;
}

content-window .overscroll {
  position: relative;
  top: 1em;
  left: 0;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 1s;
  pointer-events: none;
}

content-window .overscroll.hidden {
  opacity: 0;
  transition: opacity 1s;
}

content-window .overscroll.will-reload sl-icon {
  color: var(--icon-background-active);
  transition: none;
}

content-window .overscroll.hidden sl-icon {
  transform: rotate(360deg);
  transition: all 3s;
  background-color: white;
}

content-window .overscroll sl-icon {
  background-color: black;
  color: white;
  border-radius: 50%;
  font-size: 1.5em;
  box-shadow: 1px 1px 2px black;
  padding: 0.25em;
  transform: none;
  transition: transform 1s, color 2s, background-color 2s;
}

content-window > .container .permissions {
  color: var(--sl-color-neutral-700);
  --size: fit-content;
}

content-window > .container .permissions::part(panel) {
  border-radius: var(--sl-border-radius-x-large);
  margin-left: 1em;
  width: fit-content;
  max-width: calc(100vw - 2em);
}

content-window > .container .permissions .origin {
  padding-bottom: 1em;
  font-style: italic;
}

content-window > .container .permissions .items {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

content-window > .container .permissions .items div {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
