/* <lock-screen> styling */

:host {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: env(theme-wallpaper-accent);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

:host div.container {
  display: flex;
  width: 100%;
  height: 100%;
}

:host .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

:host .left,
:host .right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.flex-fill {
  flex: 1;
}

:host sl-icon {
  padding: 0.5em;
  font-size: 1.5em;
  border-radius: 40%;
}

:host sl-icon.active {
  color: env(theme-wallpaper-muted);
  background-color: env(theme-wallpaper-accent);
}

.clock {
  text-align: center;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0 3px 6px #333, 0 1px 0 #333;
}

.time {
  font-weight: normal;
  font-size: 4.5em;
}

.slider {
  flex: 1;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  width: 100%;
  scrollbar-width: none;
}

.slider > div {
  scroll-snap-align: start;
  height: 100%;
  width: 100%;
}

:host .slider-fill {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 0.5em;
  animation: slideup-indicator 2s ease infinite 3s;
}

:host(.screen-off) .slider-fill {
  animation: none;
}

@keyframes slideup-indicator {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-1em);
  }
  100% {
    transform: translateY(0);
  }
}

.lockpad {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.lockpad.disabled {
  opacity: 0;
}

.code-display {
  grid-column: 1 / span 3;
  border-bottom: 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrong-pin {
  display: none;
}

.value {
  flex: 1;
  font-size: xx-large;
  letter-spacing: 0.35em;
}

.code-display.error .value {
  display: none;
}

.code-display.error .wrong-pin {
  display: initial;
  color: orange;
  flex: 1;
  font-size: x-large;
}

.emergency-display {
  grid-column: 1 / span 3;
}

.digit {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
  padding-top: 1em;
}

.digit sl-icon {
  padding: 0;
}

.digit:active,
.delete-key:active {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25%;
}

.letters {
  font-size: x-small;
}

.battery-icon {
  transform: rotate(-90deg);
  padding-right: 0;
}

.battery-level {
  font-size: smaller;
  transform: translateY(-1em);
}

.low-battery {
  color: red;
}
