/* Styling for a places-item search result */

:host .entry {
  display: flex;
  padding: 0.25em;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
  width: 100%;
  overflow-x: hidden;
}

:host {
  padding: 0 0.3em 0.3em 0;
  border-radius: 2px;
  display: flex;
}

:host(:hover),
:host(.selected) {
  background-color: var(--sl-overlay-background-color);
}

:host .title {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:host img {
  width: 1.5em;
  border-radius: 40%;
}
