/* Style for <publish-dialog> */

:host {
  color: var(--sl-color-neutral-500);
}

:host sl-dialog div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

:host .text {
  max-width: 90%;
}

:host .buttons {
  display: flex;
  gap: 0.5em;
  margin-top: 0.5em;
}

:host .hidden {
    display: none;
}