/* <quick-settings> styling */

:host {
  color: var(--sl-color-neutral-700);
}

:host .container {
  background-color: var(--sl-panel-background-color);
  padding: 0.5em;
  margin: 0.5em;
  border-radius: var(--sl-border-radius-medium);
  display: flex;
  flex-direction: column;
}

:host .flex-fill {
  flex: 1;
}

:host section.switches {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 1em;
}

:host section.switches sl-icon:not(:last-child) {
  margin-right: 0.5em;
}

:host section.notifications:not(:empty),
:host section.peers:not(:empty) {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  max-height: 40vh;
  overflow-y: scroll;
}

:host section.notifications:not(:empty) > *,
:host section.peers:not(:empty) > * {
  padding-bottom: 0.5em;
}

:host sl-icon {
  padding: 0.5em;
  font-size: 1.5em;
}

:host #brightness-section {
  display: flex;
  align-items: center;
}

:host #brightness-section sl-range {
  flex: 1;
  margin-right: 0.5em;
}

:host .telephony-info {
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  display: flex;
  align-items: baseline;
}

:host .bars {
  height: 1.25em;
  display: flex;
  align-items: end;
  margin-right: 0.5em;
}

:host .bars > div {
  width: 0.25em;
  margin-left: 0.15em;
  background-color: var(--sl-color-neutral-700);
}

:host .bars > div.inactive {
  filter: brightness(50%);
}

:host .bar0 {
  height: 25%;
}

:host .bar1 {
  height: 50%;
}

:host .bar2 {
  height: 75%;
}

:host .bar3 {
  height: 100%;
}

:host(.adjust-brightness) .container > :not(#brightness-section) {
  opacity: 0;
}

:host(.adjust-brightness) .container {
  background-color: transparent;
}

:host(.adjust-brightness) .container > #brightness-section {
  background-color: var(--sl-panel-background-color);
  border-radius: var(--sl-border-radius-medium);
}

:host sl-badge {
  margin-right: 0.5em;
  cursor: pointer;
}

:host sl-badge sl-icon {
  padding: 0.25em;
  font-size: 1.5em;
}

:host sl-badge::part(base) {
  font-size: 1em;
  padding: 0.5em;
  border-radius: 40%;
}

:host #settings-icon {
  width: 3em;
  height: 3em;
  cursor: pointer;
  border-radius: 40%;
  box-shadow: 2px 2px 3px black;
}

:host .peer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

:host .peer > sl-tag {
  display: none;
}

:host .peer.paired > sl-tag {
  display: initial;
}

:host .peer.paired > sl-button {
  display: none;
}
