/* <context-menu> styling */

:host {
  max-width: 100%;
  max-height: 100%;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: var(--sl-border-radius-medium);
  border-color: var(--sl-panel-border-color);
  border-width: var(--sl-panel-border-width);
  background-color: var(--sl-panel-background-color);
  color: var(--sl-color-neutral-700);
  font-size: larger;
  -moz-user-focus: ignore;
  box-shadow: var(--sl-shadow-large);
}

:host sl-divider {
  width: 100%;
}

:host h4 {
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

:host li {
  padding: 0.25em;
  overflow: scroll;
  max-width: 90%;
}

:host li:hover {
  background-color: var(--sl-color-primary-500);
  color: var(--sl-color-neutral-0);
}

:host li.selected {
  background-color: var(--sl-color-primary-600);
  color: var(--sl-color-neutral-0);
}

:host ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  flex: 1;
  overflow-y: scroll;
}

sl-menu,
sl-menu-item {
  -moz-user-focus: ignore;
}

/*
Using <button> or <sl-button> always steals the focus, so we create a fake button look and feel here :(
These styles are copied from Shoelace's src/component/button/button.style.ts
*/
:host .button-ok {
  display: inline-block;
  position: relative;
  width: auto;
  cursor: pointer;
}

.button {
  display: inline-flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  border-style: solid;
  border-width: var(--sl-input-border-width);
  font-family: var(--sl-input-font-family);
  font-weight: var(--sl-font-weight-semibold);
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0;
  transition: var(--sl-transition-fast) background-color,
    var(--sl-transition-fast) color, var(--sl-transition-fast) border,
    var(--sl-transition-fast) box-shadow;
  cursor: inherit;

  /* primary button color */
  background-color: var(--sl-color-primary-600);
  border-color: var(--sl-color-primary-600);
  color: var(--sl-color-neutral-0);

  /* medium size */
  font-size: var(--sl-button-font-size-medium);
  height: var(--sl-input-height-medium);
  line-height: calc(
    var(--sl-input-height-medium) - var(--sl-input-border-width) * 2
  );
  border-radius: var(--sl-input-border-radius-medium);

  padding: 0 var(--sl-spacing-x-small);
}

.button:hover {
  background-color: var(--sl-color-primary-500);
  border-color: var(--sl-color-primary-500);
  color: var(--sl-color-neutral-0);
}

.button-ok:active {
  background-color: var(--sl-color-primary-600);
  border-color: var(--sl-color-primary-600);
  color: var(--sl-color-neutral-0);
}
