/* <system-statusbar> styling */

:host {
  /* background-color: rgba(255, 255, 255, 0.15); */
  color: var(--status-text-normal);
  font-size: 1rem;
  height: var(--statusbar-height);
  transition: background-color 0.25s;
}

:host .homescreen.session-desktop .left > * {
  display: none;
}

:host(.ftu) {
  display: none;
}

:host(.high-luminance) {
  color: var(--status-text-highlum);
}

:host(.transparent) {
  color: lightgray;
}

:host .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 0.25em;
  justify-content: center;
  height: 100%;
}

:host .container:not(.homescreen) {
  grid-template-columns: 1fr min-content;
}

sl-icon {
  font-size: 1.5rem;
}

.container.homescreen sl-icon:not(.homescreen-icon) {
  display: none;
}

.container:not(.homescreen) .center {
  display: none;
}

.container.content sl-icon:not(.content-icon) {
  display: none;
}

.container.carousel sl-icon.carousel {
  display: initial;
}

.container.carousel sl-icon.hidden {
  display: none;
}

.container.carousel {
  backdrop-filter: saturate(180%) blur(20px);
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-gap: 0.25em;
}

.left {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  grid-gap: 0.25em;
}

.left-text {
  text-overflow: ellipsis;
  flex: 1;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-gap: 0.25em;
}

.insecure {
  color: orange;
}

.battery-icon {
  transform: rotate(-90deg);
}

.low-battery {
  color: red;
}

/* sl-icon.attention {
  color: orangered;
} */

sl-icon {
  font-size: 1.5em;
}

sl-icon:not(.static):not(.disabled):active {
  background-color: white;
  transition: background-color 1s;
}

sl-badge::part(base) {
  font-size: 1em;
}

sl-badge[variant="neutral"]::part(base) {
  background-color: transparent;
  border-color: transparent;
  color: var(--status-text-normal);
}

sl-badge[variant="primary"]::part(base) {
  background: radial-gradient(var(--sl-color-primary-700), transparent);
  border-color: transparent;
}

:host(.high-luminance) sl-badge[variant="neutral"]::part(base) {
  color: var(--status-text-highlum);
}

:host(.transparent) sl-badge[variant="neutral"]::part(base) {
  color: lightgray;
}

.go-back.disabled {
  display: none;
}

.available-notifications {
  border-radius: 99999999px;
  background-color: var(--icon-background-active);
}

.hidden {
  display: none;
}

.favicon {
  width: 1.5em;
  border-radius: 40%;
  margin-left: 0.25em;
}

.container.homescreen .favicon {
  display: none;
}

.frame-list {
  display: flex;
  align-items: center;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  border-left: 1px solid currentColor;
  max-width: 40vw;
}

.frame-list img {
  cursor: pointer;
  padding-left: 0.25em;
  padding-right: 0.25em;
  scroll-snap-align: start;
}

.frame-list img.active {
  opacity: 0.1;
}

.container.homescreen .frame-list .favicon {
  display: initial;
}
