/* <status-icons> styling */

:host {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--sl-color-success-600);
  font-size: larger;
  padding: 0.25em;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 0 0 40%;
  display: flex;
  transition: all 0.5s linear;
}

:host *[hidden="true"] {
  display: none;
}

:host img {
  display: block;
  width: 1em;
}

:host(.hidden) {
  transition: all 0.5s linear;
  transform: translateX(-100%);
}
