/* <url-edit> styling */

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: calc(var(--statusbar-height));
  left: 0;
  width: calc(100% - 2em);
  max-height: 50vh;
  padding: 1em;
  border-radius: var(--sl-border-radius-x-large);
  border: var(--sl-panel-border-width) solid var(--sl-panel-border-color);
  font-size: smaller;
  background-color: var(--sl-panel-background-color);
  color: var(--sl-color-neutral-700);
  margin: 1em 1em 0 1em;
  transition: transform 0.25s;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
  -moz-user-focus: ignore;
}

/* Desktop mode */
@media (min-width: 800px) {
  :host {
    width: 70%;
    left: 15%;
  }
}

:host(.offscreen) {
  transform: translateY(calc(100% + 100vh));
  transition: transform 0.25s;
}

:host(.keyboard-open) {
  bottom: calc(var(--keyboard-height) + var(--statusbar-height));
}

/* similar to the one in the homescreen */
:host input {
  width: calc(100% - 1em);
  font-size: 1rem;
  background-color: var(--sl-overlay-background-color);
  color: var(--sl-color-neutral-700);
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 0.5em;
  font-family: var(--sl-font-sans);
}

:host #results {
  overflow: scroll;
  flex: 1;
}
