/* Styling for <network-item> */

:host {
  display: flex;
  align-items: center;
}

:host span.network-name {
  padding-left: 0.5em;
  flex: 1;
}

:host span.state {
  font-style: italic;
}

:host span.disconnected {
  display: none;
}

:host span.secondary {
  font-size: smaller;
  color: gray;
  margin-left:0.5em;
}

:host span.maybe-lock {
  width: 1em;
}