html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Open Sans", "sans serif";
  user-select: none;
  display: flex;
  flex-direction: column;
}

#networks {
  padding-left: 0.5em;
  padding-right: 0.5em;
  flex: 1;
  overflow: auto;
}

#status {
  padding: 1em;
  display: flex;
  border-bottom: 2px solid lightgray;
  font-size: larger;
}

#status-text {
  flex: 1;
}

footer {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  border-bottom: 2px solid lightgray;
}

ul li:active {
  background-color: lightgray;
}

footer {
  display: flex;
  justify-content: space-evenly;
}

footer.saved-networks #force-scan {
  display: none;
}

footer.saved-networks #saved-networks {
  display: none;
}

footer:not(.saved-networks) #live-networks {
  display: none;
}
