html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  background-color: rgba(51, 51, 51, 0.5);
}

body {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.no-blur {
  -moz-user-focus: ignore;
}

#actions-panel {
  flex: 1;
  overflow: auto;
  width: 100%;
  font-size: 1rem;
  padding-left: 1em;
  padding-right: 1em;
  transition: all 0.3s;
}

#actions-panel.hide,
#search-panel.hide {
  opacity: 0;
  scale: 80%;
  transition: all 0.3s;
}

#search-panel.hidden {
  display: none;
}

#search-panel {
  flex: 1;
  padding: 0.5em;
  width: 100%;
  text-align: center;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  /* color: white; */
}

#search-panel.open {
  /* height: 100%; */
  transition: all 0.3s;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

#search-panel sl-input {
  padding: 0.5em;
}

#search-panel sl-input::part(base) {
  border-radius: var(--sl-border-radius-x-large);
}

#search-results {
  display: flex;
  flex-direction: column;
  color: var(--light-color);
  flex: 1;
  overflow-y: scroll;
  text-align: left;
}

#search-results h4 {
  margin-bottom: 0;
  margin-top: 0;
  padding: 1em 0.25em 0.25em;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  font-weight: 500;
}

#search-results ul {
  list-style: circle;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

#search-results li {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border-radius: 0.5em;
  cursor: pointer;
}

/* Desktop mode */
@media (min-width: 800px) {
  #search-panel .input {
    width: 50%;
    margin: auto;
  }

  #search-results {
    width: 70%;
    margin: auto;
  }
}

#search-panel input {
  flex: 1;
  background: none;
  border: none;
  color: white;
  outline: none;
}

.flex-fill {
  flex: 1;
}

.list {
  padding: 0 3em;
}

.list > h4 {
  font-size: 2.5em;
  font-weight: 500;
  margin: 1em 0.5rem 0.25em;
}

.list > div {
  display: flex;
  overflow: scroll;
  gap: 1em;
}

.list > div.start {
  mask-image: linear-gradient(to right, white 90%, transparent);
}

.list > div.end {
  mask-image: linear-gradient(to left, white 90%, transparent);
}

.list > div.center {
  mask-image: linear-gradient(to left, transparent, white 10%, white 90%, transparent);
}

.favorite {
  cursor: pointer;
  width: calc(20vw + 1em);
  padding: 0.25em;
  border: 1px solid transparent;
  border-radius: var(--sl-border-radius-x-large);
  position: relative;
}

.favorite:focus {
  outline: none;
}

.favorite:focus > .background {
  outline: 5px solid var(--sl-color-primary-600);
}

.favorite .background {
  width: 20vw;
  border-radius: var(--sl-border-radius-x-large);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  padding: 0.5em;
  aspect-ratio: 16 / 9;
}

.favorite .background-video {
  background-size: cover;
  padding: 0;
}

.favorite img.icon {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 24px;
}

.favorite.app img.icon {
  top: unset;
  bottom: 0.75em;
  left: 1em;
  width: 5vw;
  height: 5vw;
  border-radius: 40%;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.favorite .title {
  padding: 0.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.favorite.app .title {
  padding-left: calc(5vw + 1em);
}

#status-bar {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 1.5em 3em 0.5em;
  font-size: 1.5rem;
}

#status-bar > sl-icon-button {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

#date-time {
  font-size: 1em;
  flex: 1;
  text-align: start;
}

.like-place {
  padding: 0.25em;
}

.like-place:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.like-place:focus {
  outline: 5px solid var(--sl-color-primary-600);
}

#places-results,
#top-sites-results {
  /* Padding to avoid outline cut-off */
  padding: 0 5px 5px;
}

#places-results places-item {
  border-radius: 0.5em;
}

#places-results places-item.focused {
  background: transparent;
  outline: 5px solid var(--sl-color-primary-600);
}

#places-results places-item:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
