html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Readex Pro', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  padding: 2em;
  background: var(--sl-panel-background-color);
  color: var(--sl-color-neutral-700);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#view {
  border-left: 3px solid gray;
  padding-left: 0.5em;
  margin: 1em;
}
