/* Styling for the <default-results> component */

:host {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

:host .icons {
  display: flex;
  border-top: 1px solid var(--light-color);
  justify-content: space-evenly;
}

:host .icons div {
  flex: 1;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

:host .icons .active {
  background-color: var(--light-color);
  color: var(--default-color);
}

:host .icons .go-home {
  flex: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

:host .results {
  overflow: scroll;
  /* Padding to avoid outline cut-off */
  padding: 5px;
}

:host .breadcrumb {
  font-weight: bolder;
  border-bottom: 1px solid currentColor;
}

:host places-item {
  border-radius: 0.5em;
}

:host places-item.focused {
  background: transparent;
  outline: 5px solid var(--sl-color-primary-600);
}

:host places-item:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
